version: '3.8'
services:
  cache:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
    volumes: 
      - cache:/data
  db:
    image: postgres:14.1-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes: 
      - db:/var/lib/postgresql/data
  bricksllm:
    image: luyuanxin1995/bricksllm:latest
    environment:
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      POSTGRESQL_USERNAME: postgres
      POSTGRESQL_PASSWORD: postgres
      REDIS_PASSWORD: eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
    ports: ["8001:8001", "8002:8002"]
volumes:
  cache:
    driver: local
  db:
    driver: local